/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# extras
package-lock.json
yarn.lock
composer.lock
.DS_Store
.php-cs-fixer.cache
.eslintcache
.stylelintcache
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.ignition.json

phpstan-baseline.neon

# assets
/public/vendor
/public/build

/docker/*
/data
